<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CameraApplication.Properties.Settings>
            <setting name="autoCheckGPSCommPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gpsCommPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="gpsComBaudRate" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="useManualGPSComPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manualGpsComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="manualGpsComPortBaud" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="altitudeInMeeters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="speedInMeterSec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamOneUrl" serializeAs="String">
                <value>192.168.1.200</value>
            </setting>
            <setting name="CamTwoUrl" serializeAs="String">
                <value>192.168.2.200</value>
            </setting>
            <setting name="CamThreeUrl" serializeAs="String">
                <value>192.168.3.200</value>
            </setting>
            <setting name="CamOneUrlManual" serializeAs="String">
                <value />
            </setting>
            <setting name="CamTwoUrlManual" serializeAs="String">
                <value />
            </setting>
            <setting name="CamThreeUrlManual" serializeAs="String">
                <value />
            </setting>
            <setting name="useManualCamUrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Enterprise Airlines</value>
            </setting>
        </CameraApplication.Properties.Settings>
    </userSettings>
</configuration>
